<div class="card text-center p-3" style="width: 100%; height: 100%; position: relative;">
    <div class="row">

        <h4 class="col-12 ml-0 mr-0 mb-3">Information</h4>
        
        <div class="col-6" style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
            <h5 style="width: 100%">Total users</h5>
            <h4 style="width: 100%">{{totalParticipants}}</h4>
        </div>

        <div class="col-6" style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
            <h5 style="width: 100%">Sessions <br> Completed / Started</h5>
            <h4 style="width: 100%">{{totalFinish}} / {{totalSessions}}</h4>
        </div>
    </div>
    </div>