<form>
  <div class="form-group pb-4 pt-4">
    <p class="text-center">This chat contains unsaved changes. Do you want to save before leaving?</p>
  </div>
  
    <button mat-raised-button color="primary" type="button" style="width: 100%;" class="mb-2" (click)="save()">Save</button>
 
    <button mat-raised-button type="button" style="width: 100%;" class="mb-2" (click)="discard()">Discard</button>
 
    <button mat-button type="button" style="width: 100%;" class="mb-2" (click)="close()">Close</button>
 
</form>