#answer-comp{
    margin: 0px;
} 

#send-btn{
    width:100%;
}

#text-answer{
    background-image: linear-gradient(0deg,#ffdc06 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

