<div id="answer-comp" class="row m-0 justify-content-center text-center scale">
  <div id="answer-comp-internal">
    <div class="col-12 mt-3">
      <mat-form-field color="accent">
        <mat-select [(ngModel)]="response" color="accent">
          <mat-option *ngFor="let answer of answers" [value]="answer">
            {{answer.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-12 mb-3">
      <button mat-button color="accent" class="btn-send-answer"
        style="margin: 0px;" (click)="callParent()">Send</button>
    </div>
  </div>
</div>