<div class="row m-0 p-0" id="navContainer">
  <div class="row mt-1 ml-1 mr-1 mb-0 p-2" id="nav">

    <div class="col-xs-12 col-md-6 p-0 m-0" style="display: flex;">
      <img height="40px" style="padding-left: 5px; cursor: pointer;" src="./assets/inspect.png" (click)="openDeliver()">
      <h5 style="margin: 10px 0px 0px 10px;" *ngIf="!conversationSelected">Coney Inspect</h5>
      <h5 style="margin: 10px 0px 0px 10px;" *ngIf="conversationSelected">{{currentConversationTitle}}</h5>
      <button mat-button *ngIf="conversationSelected" style="margin-left: 10px; color: gray; font-size: 12px"
        (click)="clean()">change</button>
    </div>
    <div class="col-xs-12 col-md-6 p-0 m-0">
      <div id="buttonBar">
        <ul style="list-style: none; display: flex; margin-bottom: 0px; justify-content: center; padding: 0px;">
          <li>
            <button mat-button *ngIf="conversationSelected && !userView" (click)="changeView()" title="Filter by users">
              <img height="25px" src="./assets/users.svg">
            </button>
          </li>
          <li>
            <button mat-button *ngIf="conversationSelected && userView" (click)="changeView()" title="View dashboard">
              <img height="25px" src="./assets/pie.svg">
            </button>
          </li>
          <li>
            <button mat-button (click)="manageChartChoice('button')" *ngIf="conversationSelected && !userView"
              title="Display sections">
              <img height="25px" src="./assets/sections.svg">
            </button>
          </li>
          <li id="drbtn" *ngIf="conversationSelected">
            <button mat-button aria-label="Download data" title="Download data" style="cursor: default;">
              <img height="25px" src="./assets/csv.svg">
            </button>
            <ul id="dropdown">
              <li class="py-3" style="color: darkgray; text-align: center;">Downloads</li>
              <li><button mat-button (click)="downloadData('csv', false)" style="width: 100%;">Results CSV</button></li>
              <li><button mat-button (click)="downloadData('results_rdf', false)" style="width: 100%;">Results RDF</button></li>
              <li><button mat-button (click)="downloadData('chat_rdf', false)" style="width: 100%;">Conversation RDF</button></li>
              <li class="py-3" style="color: darkgray; text-align: center;">Anonymized downloads</li>
              <li><button mat-button (click)="downloadData('csv', true)" style="width: 100%;">Anonymous results CSV</button></li>
              <li><button mat-button (click)="downloadData('results_rdf', true)" style="width: 100%;">Anonymous results RDF</button></li>
            </ul>
          </li>
          <li>
            <button mat-button aria-label="Refresh data" *ngIf="conversationSelected" title="Refresh data"
              (click)="reloadData()">
              <img height="25px" src="./assets/refresh.svg">
            </button>
          </li>
          <li>
            <button mat-button *ngIf="enterprise" (click)="userLogout()" id="logoutBtn" title="Logout">
              <img class="topBarImg" src="./assets/logout.svg">
            </button>
          </li>
        </ul>
      </div>


    </div>

    <div id="hidingDiv" class="ml-1 mr-1" style="height: 0px">
      <div id="hidingDivContent" style="padding-top: 6px!important;" class="p-4">
        <div class="row">
          <mat-checkbox [(ngModel)]="displayGenericChart">Generic</mat-checkbox>
        </div>
        <div class="row">
          <mat-checkbox [(ngModel)]="displayMappedDataChart">Value-related</mat-checkbox>
        </div>
        <div class="row">
          <mat-checkbox [(ngModel)]="displayDataNoValueQuestions">Non-mapped</mat-checkbox>
        </div>
        <div class="row">
          <mat-checkbox [(ngModel)]="displayDataOpenQuestions">Open-ended</mat-checkbox>
        </div>
      </div>
    </div>



  </div>
</div>

<div id="openConvExt" class="px-4 justify-content-center" *ngIf="!conversationSelected">
  <div class="card p-3" style="max-width: 500px; height: 100%;">

    <div class="row m-0 p-0">


      <form class="row" style="margin: 0px; width: 100%">
        <div class="col-12">
          <mat-form-field style="width: 100%;">
            <input matInput id="titleInput" [(ngModel)]="titleValue" [ngModelOptions]="{standalone: true}"
              style="width: 100%;" type="text" placeholder="Title" (input)="titleSelectionChanged()">
          </mat-form-field>
        </div>

        <div *ngIf="enterprise" class="col-12" >
          <mat-form-field style="width: 100%;">
            <mat-label>Projects</mat-label>
            <mat-select [(value)]="selectedProject" (selectionChange)="selectionChanged()">
              <mat-option *ngFor="let i of searchProjects" [value]="i">
                {{i}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div style="height: 100%; overflow-y: auto; overflow-x: hidden; width: auto;" class="p-3">

      <div class="row" style="position: relative;">

        <form style="width:100%; height: 100%; overflow-y: auto;">
          <p *ngIf="noConvFound" id="no-c-found" style="width: 100%; text-align: center;">No conversations found</p>
          <div *ngFor="let conv of conversations"
            (click)="conversationChosen(conv.conversationId, conv.conversationTitle, undefined)">
            <div class="ml-1 mr-1">
              <button mat-button type="button" class="text-left" style="width: 100%;">
                <div class="row m-0"> {{conv.conversationTitle}}
                  <span  *ngIf="enterprise" style="position: absolute;  right: 1.5rem;">{{conv.accessLevel}}</span>
                </div>
                <div  *ngIf="enterprise" class="row pr-sc" style="color: gray;"> {{conv.projectName}} </div>

              </button>
            </div>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>


<div (click)="manageChartChoice('')" class="row ml-3 mr-3 mb-0" *ngIf="conversationSelected && !userView"
  style="margin-top: 100px!important;">

  <div *ngIf="displayGenericChart" class="col-xs-12 col-sm-6 col-lg-3 p-2">
    <app-generic-data-chart [data]="dataGeneric"></app-generic-data-chart>
  </div>

  <div *ngIf="displayGenericChart" class="col-xs-12 col-sm-6 col-lg-6  p-2">
    <app-mean-per-tag [data]="tags"></app-mean-per-tag>
  </div>

  <div *ngIf="displayGenericChart" class="col-xs-12 col-sm-12 col-lg-3 p-2">
    <app-duration-bar-chart [data]="dataDurationBar"></app-duration-bar-chart>
  </div>


  <div class="col-xs-12 col-sm-6 col-lg-7 p-0">
    <div class="row m-0">
      <div *ngIf="displayMappedDataChart" class="col-12  p-2">
        <app-value-distr-bar-chart [data]="dataValueDistrBar" [selectedQs]="selectedQs" (tagChosen)="tagChosen($event)">
        </app-value-distr-bar-chart>
      </div>

      <div *ngIf="displayMappedDataChart" class="col-12  p-2">
        <app-mean-distr-tag-chart [data]="dataValueDistrBar" [currentTag]="currentTag"></app-mean-distr-tag-chart>
      </div>
    </div>
  </div>

  <div *ngIf="displayMappedDataChart" class="col-xs-12 col-sm-6 col-lg-5  p-2">
    <app-questions-checkbox [currentTag]="currentTag" [data]="dataAnsDistrPie" (selectedQs)="selectedQuestions($event)">
    </app-questions-checkbox>
  </div>

  <div *ngIf="displayDataNoValueQuestions" class="col-xs-12 col-sm-12 col-lg-12 p-2">
    <app-multiple-choice-pie-chart [data]="dataNoValueQuestions"></app-multiple-choice-pie-chart>
  </div>

  <div *ngIf="displayDataCheckboxQuestions" class="col-xs-12 col-sm-12 col-lg-12 p-2">
    <app-checkbox-bar-chart [data]="dataCheckboxBar"></app-checkbox-bar-chart>
  </div>


  <div *ngIf="displayDataOpenQuestions" class="col-xs-12 col-sm-12 col-lg-12 p-2">
    <app-open-ended-questions [data]="dataOpenQuestions"></app-open-ended-questions>
  </div>

</div>

<div class="row mb-0" *ngIf="conversationSelected && userView" style="margin-top: 100px!important; width: 100%">
  <app-user-view [data]="dataUserView" style="width: 100%;"></app-user-view>
</div>

<!-- Loading spinner -->
<div id="loadingSpinner" *ngIf="loadingInProgress">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>